a {text-decoration: none;
    font-family: Gill Sans, Geneva, Arial, Times New Roman}
a:hover {text-decoration: underline; color: #FFFF66}
a:link {color: #006600}
a:visited {color: #990000}
a:active {color: #006600}

body {background-attachment: fixed; 
	  background-image: url(../Common/oikochibg.gif);
	  background-position: center;
	  background-repeat: no-repeat;
	  background-color: #FFFFCC
}
	  
h2 {font-family: Gill Sans, Geneva, Arial, Times New Roman;
	font-weight: bold
}	
	
p, b, small, ol, ul, li, table {font-family: Tahoma, Geneva, Arial, Times New Roman}

blockquote {font-style: italic}
